<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    body{
      background-color:rgb(0,0,0);
      color:rgb(255,0,0);
        }
  </style>  
  <title>
    Ruby on Rails Tutorial Sample App | <%= @title %>
  </title>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
